<!-- <div class="row" >
        <div class="column"></div>
        <div style="padding: 10px;border: 2px solid #0182a1;">
            <chat-dialog ></chat-dialog> 
           
        </div>
        <div class="column"></div>
      </div>  -->
    <table>
         <!-- <tr style="height: 10px;">
 <button style="visibility: hidden">teast</button> 
        </tr>  -->
        <tr >
            <td>
                    <!-- style="background-image:url(../../assets/images/Capture.PNG)" -->
                      <div >
                    <chat-dialog  ></chat-dialog>  

                </div>

            </td>
        </tr>
        <!-- <tr style="height: 5%">
<button>trerr</button>
        </tr> -->
        
    </table>
